/* Sticky footer styles
-------------------------------------------------- */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
    height: 60px;
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container .credit {
    margin: 20px 0;
}
.panel-title {display: inline;font-weight: bold;}
.checkbox.pull-right { margin: 0; }
.pl-ziro { padding-left: 0px; }
.list-item {
    cursor: pointer;
}
.list-item:hover {
    background: #f5f5f5;
}

#sidebar-wrapper {
    border-radius: 4px;
    padding: 10px;
    left: 0;
    top:0;
    background: rgb(0,0,0);
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.5s ease-in 0s;
    -webkit-transition: all 0.5s ease-in 0s;
    -moz-transition: all 0.5s ease-in 0s;
    -ms-transition: all 0.5s ease-in 0s;
    -o-transition: all 0.5s ease-in 0s;
}


#menu-toggle {
    /*top: 50%;*/
    /*left: 0;*/
    /*position: fixed;*/
    z-index: 1;
}

@media (max-width: 400px)  {

    #sidebar-wrapper {
       width: 280px;
       margin-left: -280px;
    }

    #sidebar-wrapper.active {
        left: 280px;
    }
}

@media (min-width: 600px)  {

    #sidebar-wrapper {
        width: 320px;
        margin-left: -320px;
    }

    #sidebar-wrapper.active {
        left: 320px;
        width: 630px;
    }
}


#sidebar-wrapper.active {
    /*width: 350px;*/
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
    color: #fff;
}

.toggle {
    margin: 5px 5px 0 0;
}