<div class="row">
    <div class="col-sm-3 col-md-3">
        <img src="/img/profile.png" alt="Profile picture" class="img-rounded img-responsive">
    </div>
    <div class="col-sm-4 col-md-4">
        <blockquote>
            <p>Terry Yuen</p>
            <small><cite title="Source Title">Kuala Lumpur, Malaysia <i class="icon-map-marker"></i></cite></small>
        </blockquote>
        <p>
            <i class="glyphicon glyphicon-search"></i> terryxlife@gmail.com <br>
            <i class="glyphicon glyphicon-globe"></i> www.one-wing-angel.com <br>
            <i class="glyphicon glyphicon-gift"></i> September 29, 1985
        </p>
    </div>
</div>